@font-face {
    font-family: 'star';
    src: url('../fonts/SerifGothicBlackRegular.ttf');
}

:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
    --darksideColor: #AC020B;
    --lightsideColor: #09AAF4;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'star', cursive;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('../assets/imagens/darkside.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1.6rem;
    overflow-x: hidden;
}

#particles-js {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
}

.box-sobre {
    display: flex;
    justify-content: center;
}

.box-toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.toggle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 70px;
    background: rgba(0, 0, 0, 0.575);
    border-radius: 150px;
    position: relative;
    padding: 3px;
}

.circulo {
    height: 100%;
    width: 70px;
    background: #F2E023;
    border-radius: 50%;
    z-index: 175;
    transition: transform 0.5s;
}

.esquerda {
  transform: translateX(0)
}

.direita {
    transform: translateX(calc(200px - 76px));
}

.escuro, .claro {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.escuro {
    left: 10px;
}

.claro {
    right: 10px;
}

.escuro img,
.claro img {
    width: 60px;
}

.lightSide {
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.575);
    align-self: flex-end;
    display: none;
}

.darkSide {
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.575);
    align-self: flex-start;
}

p {
    font-weight: bold;
    font-size: 1.8rem;
    color: #F1F1F1;
    text-transform: uppercase;
    line-height: 4rem;
    text-align: center;
    word-spacing: 7px;
    text-shadow: 2px 1px 1px black;
}

.lightSide > span {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    color: var(--lightsideColor);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

.darkSide > span {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    color: var(--darksideColor);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

.x-wing {
    display: none;
    animation-name: xWing;
    max-width: 600px;
    top: 10px;
    right: 0;
}

.x-wing-dois {
    display: none;
    animation-name: xWingDois;
    max-width: 800px;
    top: 310px;
    right: 0;
}

.imperio {
    animation-name: imperio;
    max-width: 800px;
    left: 0;
}

.img {
    transition-duration: 2s;
    position: absolute;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes xWing {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(-15px);
    }
}

@keyframes xWingDois {
    from {
        ransform: translateY(-50px);
    }
    50% {
        transform: translateY(150px);
    }
    to {
        transform: translateX(50px);
    }
}

@keyframes imperio {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(100px);
    }
}

@media(max-width: 560px) {
    .lightSide,
    .darkSide {
        border-radius: 0;
    }
    
    p {
        font-size: 1.4rem;
    }

    .lightSide > span,
    .darkSide > span {
        font-size:2rem;
    }
}